.work-sans-normal> {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Header Banner */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left, bottom right;
    /* margin-top: 30px; */
    background-color: #FFF8F3;
    padding-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

/* Navbar section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-mary {
    font-size: 45px;
    font-weight: 700;
    margin-left: 150px;
}

.color-black {
    color: black;
}

.orange {
    color: #fc9255;
}

nav ul {
    display: flex;
    margin-right: 150px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    font-weight: 700;
    color: black;
}

.btn {
    background-color: #f78a4a;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
}

/* Banner section */

.banner-section {
    display: flex;
    margin-left: 150px;
    justify-content: space-between;
}

img {
    margin-right: 100px;
    width: 500px;
    height: 620px;
}

.baner-details {
    width: 560px;
    height: 340px;
    margin-top: 80px;
    margin-left: 50px
}

#banner-hlw {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

#mary-tittle {
    font-size: 70px;
    font-weight: 700px;
    margin: 0%;
}

.lorem-Dark-3 {
    color: #757575;
}

.btn-Contact {
    border: 2px solid #f78a4a;
    padding: 13px;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: 600;
}

.btn-flex {
    display: flex;
    align-items: center;
    margin-top: 30px;
}