.work-sans-normal> {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* Header Banner */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: left, bottom right;
    /* margin-top: 30px; */
    background-color: #FFF8F3;
    padding-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

/* Navbar section */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-mary {
    font-size: 45px;
    font-weight: 700;
    margin-left: 150px;
}

.color-black {
    color: black;
}

.orange {
    color: #fc9255;
}

nav ul {
    display: flex;
    margin-right: 150px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    font-size: 20px;
    margin-right: 50px;
    font-weight: 700;
    color: black;
}

.btn {
    background-color: #f78a4a;
    padding: 10px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
}

/* Banner section */

.banner-section {
    display: flex;
    margin-left: 150px;
    justify-content: space-between;
}

img {
    margin-right: 100px;
    width: 500px;
    height: 620px;
}

.baner-details {
    width: 560px;
    height: 340px;
    margin-top: 80px;
    margin-left: 50px
}

#banner-hlw {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

#mary-tittle {
    font-size: 70px;
    font-weight: 700px;
    margin: 0%;
}

.lorem-Dark-3 {
    color: #757575;
}

.btn-Contact {
    border: 2px solid #f78a4a;
    padding: 13px;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: bold;
}

.btn-flex {
    display: flex;
    align-items: center;
    margin-top: 30px;
}

/* About section */

.bg-color {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */

}

.about-details {
    width: 1500px;
    height: 500px;
    background-color: #FFF8F3;
    /* border: 2px solid black; */
    margin: 40px;
    padding: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.info-about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.about-me {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

.about-section {
    margin-top: 50px;
    background-color: white;
}

.red {
    padding: 40px;
    /* border: 2px solid red; */
    background-color: white;
    margin: 50px;
}

/* section-how */
.section-how {
    /* border: 2px solid red; */
    margin-top: 20px;
    width: 1580px;
    height: auto;

}

.how {
    display: flex;
    align-items: center;
    justify-content: center;
}

.what {
    font-size: 40px;
    font-weight: 700;
}

.how-lorem {
    margin-left: 200px;
    margin-right: 200px;
    color: #757575;
}

.cart {
    width: 265px;
    height: 255px;
    /* border: #757575 solid 2px; */
    padding: 70px;
}

.cart-flex {
    display: flex;
    gap: 5px;
}

/* cart container style */
.cart-shadow {
    box-shadow: drop;
    padding: 20px;
    /* border: #757575 solid 2px; */
    box-shadow: 2px 2px 2px 2px #cac7c7;
}

.resume-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1580px;
    height: auto;

}

.resume-main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-details {
    padding: 70px;
}

.resume-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h4-tag {
    font-size: x-large;
    font-weight: 600;
}

.h2-tag {
    font-size: 40px;
}

.btn-div {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 50px;
}

footer {
    background-color: #FFF8F3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.input-footer {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 20px;
}

.footer-details {
    padding: 50px;
}

.input-text {
    padding: 40px;
}

.input-pedding {
    padding: 10px;
}